<html lang="en">
    <head>
        <title>Error</title>
    </head>
    <body style="width: 100vw;height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Welcome!!</h1>
        <p><%= data %></p>
        <p><%= mark %></p>
    </body>
</html>